{% extends 'base.html' %} 

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}


{% block body %}
<div class='container my-1'>
    <div class="jumbotron" style="background-color: #f0f8ff;">
        <h1 class="display-4">Welcome to MyCode, world!</h1>
        <p class="lead"> <h3> <strong> This is About Page '🎉✌️✌️' </strong> </h3> <p>Et ut odio quidem, nulla libero quos natus vitae, accusamus velit beatae culpa, consequuntur aut ipsum eaque alias natus quos vel rerum excepturi quibusdam perspiciatis, pariatur ad adipisci itaque fugit cum quod odit iusto. Aspernatur nulla perferendis ipsam consequatur dicta, minima necessitatibus tempora quos delectus. Minima illo quos error quibusdam eos ea vel neque ad, minima eveniet tempore excepturi autem sequi repellat facilis eius quaerat non vel, nesciunt assumenda ea vero, facere deleniti deserunt odio voluptatum optio at quae aliquam esse autem soluta. Obcaecati delectus repellat veniam minima temporibus nobis commodi omnis odio quidem nulla, ab fugit est ipsa molestias debitis tenetur, laudantium corrupti nemo ipsum odit?</p>  </p>
        <hr class="my-4">
        <p >  Debitis nemo voluptatibus ipsa amet facilis esse, ab maxime porro optio reiciendis animi odio tenetur hic, voluptates quia facilis ut ab nobis commodi recusandae in porro cumque, hic perspiciatis minima pariatur cum, molestias sint iste incidunt magnam excepturi nostrum recusandae aliquam. Facere voluptatum similique sequi iure, molestiae architecto in expedita autem aut sapiente mollitia impedit asperiores officia? Rem nisi voluptatum modi at sapiente molestiae sed. A harum fuga at officiis sequi ab aliquid eius. 
                
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<div class='container my-2'>
<h2> Popular post <h2>
</div>

<div class='container my-2'>
    <div class="row">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                    <h3 class="mb-0">About post :)</h3>
                    <div class="mb-1 text-body-secondary">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                    <h3 class="mb-0">About post :)</h3>
                    <div class="mb-1 text-body-secondary">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock body %}